.pss {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 0.8rem;
  font-family: "Montserrat";
}

.PS {
  width: 400px;
  font-weight: normal;
  margin-top: 30px;
  line-height: 1.7;
  margin-bottom: 10px;
}

#stars, #stars2, #stars3 {
  z-index: -100;
}

.login__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.login__user--top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.login__user--name {
  margin-left: 5px;
  /* display: flex;
  flex-direction: column; */
}
.login__user--email {
  display: block;
  margin-top: 5px;
}

.login__user--button {
  width: 200px;
}

.login__page {
  min-height: 100vh;
  position: relative;
  overflow-x: scroll;
  /* z-index: -2; */
}

.login {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo {
  margin-bottom: 20px;
  display: block;
  padding: 0 8px;
  margin: 0 -8px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.logo:hover {
  background-color: var(--primary);
  transform: translateY(-3px);
  /* background-color: var(--primary); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.login__form {
  width: 250px;
  padding: 20px;
  background-color: var(--secondary);
  border-radius: 6px;
  margin: auto;
}

.login__form--input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.login__form--submit {
  margin-top: 5px;
  width: 100%;
}

.login__google {
  /* height: 40px; */
  padding: 8px;
  width: 100%;
  font-family: "Montserrat";
  background-color: white;
  color: var(--black);
}

.login__google--icon {
  fill: var(--accent-dark);
  height: 100%;
  margin-right: 10px;
}

.register__link {
  font-size: 0.8rem;
  color: var(--accent-dark);
  padding: 4px;
  border-radius: 6px;
  transition: 0.3s all;
  display: block;
}

.register__link:hover {
  transform: translateY(-3px);
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.login__page {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  overflow: hidden;
}

#stars {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 726px 693px #c9585c, 1729px 1101px #c9585c, 676px 1866px #c9585c,
    1319px 757px #c9585c, 724px 1421px #c9585c, 233px 1654px #c9585c,
    1316px 1366px #c9585c, 1625px 1246px #c9585c, 574px 1787px #c9585c,
    1168px 309px #c9585c, 908px 1247px #c9585c, 690px 509px #c9585c,
    834px 1224px #c9585c, 1496px 460px #c9585c, 1887px 1881px #c9585c,
    1089px 1508px #c9585c, 1763px 673px #c9585c, 1222px 1399px #c9585c,
    164px 97px #c9585c, 1010px 1548px #c9585c, 976px 1165px #c9585c,
    1322px 1325px #c9585c, 258px 1663px #c9585c, 1963px 1126px #c9585c,
    700px 1516px #c9585c, 1430px 1071px #c9585c, 848px 495px #c9585c,
    690px 883px #c9585c, 1164px 841px #c9585c, 1934px 701px #c9585c,
    783px 196px #c9585c, 38px 498px #c9585c, 418px 1402px #c9585c,
    1760px 741px #c9585c, 1602px 473px #c9585c, 378px 634px #c9585c,
    152px 684px #c9585c, 1780px 185px #c9585c, 1122px 1815px #c9585c,
    754px 47px #c9585c, 208px 397px #c9585c, 1954px 570px #c9585c,
    183px 214px #c9585c, 1001px 523px #c9585c, 2000px 654px #c9585c,
    364px 745px #c9585c, 849px 1422px #c9585c, 768px 238px #c9585c,
    1254px 1750px #c9585c, 1337px 1365px #c9585c, 1084px 758px #c9585c,
    702px 1795px #c9585c, 177px 1767px #c9585c, 381px 39px #c9585c,
    1253px 1774px #c9585c, 1110px 870px #c9585c, 497px 1761px #c9585c,
    216px 929px #c9585c, 1354px 1786px #c9585c, 961px 1033px #c9585c,
    1315px 72px #c9585c, 991px 1734px #c9585c, 1150px 225px #c9585c,
    238px 1364px #c9585c, 1507px 836px #c9585c, 88px 144px #c9585c,
    732px 1397px #c9585c, 1125px 1810px #c9585c, 512px 1156px #c9585c,
    490px 1014px #c9585c, 847px 68px #c9585c, 333px 523px #c9585c,
    144px 1360px #c9585c, 1256px 808px #c9585c, 1926px 575px #c9585c,
    778px 1105px #c9585c, 640px 1025px #c9585c, 1460px 1753px #c9585c,
    1845px 1843px #c9585c, 109px 223px #c9585c, 1532px 1059px #c9585c,
    1378px 1578px #c9585c, 1191px 203px #c9585c, 310px 1520px #c9585c,
    1657px 577px #c9585c, 244px 37px #c9585c, 862px 1395px #c9585c,
    780px 472px #c9585c, 299px 1671px #c9585c, 1455px 1473px #c9585c,
    144px 1085px #c9585c, 732px 1091px #c9585c, 787px 1289px #c9585c,
    451px 1516px #c9585c, 1490px 711px #c9585c, 1219px 49px #c9585c,
    1612px 957px #c9585c, 724px 1005px #c9585c, 1626px 193px #c9585c,
    17px 1026px #c9585c, 229px 1480px #c9585c, 868px 1675px #c9585c,
    1179px 1006px #c9585c, 580px 674px #c9585c, 925px 1720px #c9585c,
    1088px 1693px #c9585c, 1793px 58px #c9585c, 810px 133px #c9585c,
    789px 745px #c9585c, 654px 1337px #c9585c, 284px 677px #c9585c,
    24px 1234px #c9585c, 393px 833px #c9585c, 639px 435px #c9585c,
    1144px 714px #c9585c, 818px 156px #c9585c, 1443px 1495px #c9585c,
    1280px 1079px #c9585c, 475px 1455px #c9585c, 1584px 1248px #c9585c,
    775px 715px #c9585c, 1506px 333px #c9585c, 607px 1621px #c9585c,
    1894px 1799px #c9585c, 1099px 1434px #c9585c, 1586px 1219px #c9585c,
    872px 1239px #c9585c, 1072px 1305px #c9585c, 132px 907px #c9585c,
    675px 1925px #c9585c, 1065px 204px #c9585c, 1202px 1496px #c9585c,
    6px 124px #c9585c, 285px 1766px #c9585c, 1251px 395px #c9585c,
    652px 95px #c9585c, 408px 456px #c9585c, 85px 180px #c9585c,
    709px 67px #c9585c, 1360px 1687px #c9585c, 1389px 1097px #c9585c,
    12px 1438px #c9585c, 1957px 387px #c9585c, 338px 1762px #c9585c,
    1802px 1609px #c9585c, 1542px 1341px #c9585c, 842px 276px #c9585c,
    348px 439px #c9585c, 944px 914px #c9585c, 1423px 1229px #c9585c,
    1559px 855px #c9585c, 1166px 1097px #c9585c, 338px 30px #c9585c,
    1035px 1520px #c9585c, 633px 1351px #c9585c, 221px 786px #c9585c,
    1673px 684px #c9585c, 1837px 1965px #c9585c, 1458px 1851px #c9585c,
    1063px 1292px #c9585c, 802px 1848px #c9585c, 452px 1762px #c9585c,
    1759px 1474px #c9585c, 584px 1023px #c9585c, 570px 1908px #c9585c,
    1132px 1348px #c9585c, 181px 428px #c9585c, 1239px 1359px #c9585c,
    298px 332px #c9585c, 300px 1640px #c9585c, 866px 270px #c9585c,
    1954px 1072px #c9585c, 534px 1730px #c9585c, 804px 1604px #c9585c,
    579px 1139px #c9585c, 1497px 565px #c9585c, 405px 207px #c9585c,
    817px 1555px #c9585c, 134px 1933px #c9585c, 104px 1785px #c9585c,
    1248px 1322px #c9585c, 1166px 1036px #c9585c, 209px 596px #c9585c,
    184px 858px #c9585c, 300px 328px #c9585c, 1435px 1842px #c9585c,
    1508px 629px #c9585c, 1900px 1514px #c9585c, 216px 472px #c9585c,
    1976px 234px #c9585c, 1320px 242px #c9585c, 1961px 1672px #c9585c,
    1715px 1872px #c9585c, 282px 143px #c9585c, 1905px 1337px #c9585c,
    1397px 603px #c9585c, 1038px 284px #c9585c, 1237px 1253px #c9585c,
    1122px 12px #c9585c, 898px 1542px #c9585c, 538px 1857px #c9585c,
    249px 517px #c9585c, 1122px 1897px #c9585c, 464px 1250px #c9585c,
    337px 1040px #c9585c, 995px 221px #c9585c, 497px 1565px #c9585c,
    929px 414px #c9585c, 886px 1554px #c9585c, 70px 1530px #c9585c,
    20px 989px #c9585c, 1842px 335px #c9585c, 3px 1554px #c9585c,
    1607px 1737px #c9585c, 729px 1985px #c9585c, 976px 117px #c9585c,
    1865px 544px #c9585c, 1414px 1927px #c9585c, 1715px 1790px #c9585c,
    789px 1153px #c9585c, 174px 334px #c9585c, 210px 1969px #c9585c,
    1333px 114px #c9585c, 977px 739px #c9585c, 334px 558px #c9585c,
    77px 892px #c9585c, 511px 1706px #c9585c, 1261px 1382px #c9585c,
    1752px 465px #c9585c, 733px 1097px #c9585c, 1146px 794px #c9585c,
    1180px 1574px #c9585c, 444px 1421px #c9585c, 1362px 711px #c9585c,
    1515px 968px #c9585c, 1242px 1802px #c9585c, 240px 1266px #c9585c,
    1888px 938px #c9585c, 1749px 1578px #c9585c, 286px 1107px #c9585c,
    1974px 92px #c9585c, 1546px 1522px #c9585c, 673px 145px #c9585c,
    1922px 1803px #c9585c, 1911px 1145px #c9585c, 342px 570px #c9585c,
    309px 1894px #c9585c, 1283px 756px #c9585c, 1296px 909px #c9585c,
    271px 1689px #c9585c, 592px 1461px #c9585c, 1541px 590px #c9585c,
    391px 276px #c9585c, 1943px 1123px #c9585c, 1582px 1813px #c9585c,
    235px 1081px #c9585c, 1530px 1079px #c9585c, 612px 1310px #c9585c,
    18px 1234px #c9585c, 1344px 1142px #c9585c, 1571px 643px #c9585c,
    54px 1615px #c9585c, 1315px 837px #c9585c, 298px 464px #c9585c,
    971px 1717px #c9585c, 318px 565px #c9585c, 420px 84px #c9585c,
    1993px 1725px #c9585c, 1515px 1976px #c9585c, 445px 1628px #c9585c,
    30px 237px #c9585c, 1669px 1305px #c9585c, 1408px 361px #c9585c,
    513px 1144px #c9585c, 334px 1663px #c9585c, 944px 807px #c9585c,
    1563px 38px #c9585c, 1938px 1908px #c9585c, 104px 427px #c9585c,
    907px 1074px #c9585c, 42px 335px #c9585c, 1879px 1364px #c9585c,
    1476px 888px #c9585c, 1823px 1549px #c9585c, 1635px 338px #c9585c,
    1492px 1348px #c9585c, 1420px 1050px #c9585c, 398px 653px #c9585c,
    119px 1070px #c9585c, 135px 120px #c9585c, 787px 1608px #c9585c,
    591px 1270px #c9585c, 1035px 906px #c9585c, 1933px 1919px #c9585c,
    535px 747px #c9585c, 95px 725px #c9585c, 1495px 80px #c9585c,
    279px 1894px #c9585c, 1652px 256px #c9585c, 175px 765px #c9585c,
    183px 1637px #c9585c, 473px 828px #c9585c, 303px 1144px #c9585c,
    1845px 1449px #c9585c, 668px 1203px #c9585c, 1350px 682px #c9585c,
    1263px 1827px #c9585c, 1874px 1725px #c9585c, 1487px 1126px #c9585c,
    710px 1148px #c9585c, 539px 718px #c9585c, 1875px 483px #c9585c,
    412px 503px #c9585c, 356px 638px #c9585c, 1101px 862px #c9585c,
    1308px 1215px #c9585c, 63px 252px #c9585c, 170px 15px #c9585c,
    1355px 238px #c9585c, 899px 1323px #c9585c, 1735px 1805px #c9585c,
    1268px 1294px #c9585c, 1630px 1257px #c9585c, 1020px 907px #c9585c,
    665px 1991px #c9585c, 809px 387px #c9585c, 1875px 796px #c9585c,
    1369px 1390px #c9585c, 1208px 1245px #c9585c, 1723px 377px #c9585c,
    1187px 729px #c9585c, 1407px 180px #c9585c, 1155px 1681px #c9585c,
    958px 1223px #c9585c, 892px 1308px #c9585c, 780px 1843px #c9585c,
    1768px 628px #c9585c, 1723px 343px #c9585c, 200px 519px #c9585c,
    1424px 1469px #c9585c, 780px 1196px #c9585c, 405px 87px #c9585c,
    1248px 748px #c9585c, 1514px 1799px #c9585c, 1165px 1213px #c9585c,
    1242px 1742px #c9585c, 1552px 552px #c9585c, 491px 873px #c9585c,
    1795px 1959px #c9585c, 601px 578px #c9585c, 850px 762px #c9585c,
    1649px 1292px #c9585c, 238px 1613px #c9585c, 602px 1331px #c9585c,
    1790px 476px #c9585c, 1714px 897px #c9585c, 571px 1011px #c9585c,
    824px 1893px #c9585c, 1057px 1289px #c9585c, 1708px 631px #c9585c,
    83px 588px #c9585c, 657px 1280px #c9585c, 300px 905px #c9585c,
    279px 1597px #c9585c, 454px 895px #c9585c, 1444px 1869px #c9585c,
    445px 987px #c9585c, 1204px 1763px #c9585c, 197px 39px #c9585c,
    1180px 1176px #c9585c, 1244px 910px #c9585c, 1275px 934px #c9585c,
    1763px 752px #c9585c, 1979px 1328px #c9585c, 1050px 461px #c9585c,
    1387px 1723px #c9585c, 563px 626px #c9585c, 730px 928px #c9585c,
    1393px 1060px #c9585c, 513px 1440px #c9585c, 179px 837px #c9585c,
    319px 681px #c9585c, 413px 1560px #c9585c, 1060px 1608px #c9585c,
    1537px 75px #c9585c, 1054px 450px #c9585c, 538px 1896px #c9585c,
    1420px 21px #c9585c, 1548px 1902px #c9585c, 922px 401px #c9585c,
    215px 1334px #c9585c, 961px 1828px #c9585c, 1847px 1787px #c9585c,
    553px 1818px #c9585c, 664px 1096px #c9585c, 1624px 1193px #c9585c,
    1551px 1098px #c9585c, 1449px 1592px #c9585c, 1860px 1620px #c9585c,
    176px 636px #c9585c, 1734px 1704px #c9585c, 1911px 1614px #c9585c,
    1886px 1744px #c9585c, 982px 280px #c9585c, 384px 1721px #c9585c,
    1683px 596px #c9585c, 336px 459px #c9585c, 1025px 707px #c9585c,
    884px 1081px #c9585c, 1460px 1741px #c9585c, 746px 398px #c9585c,
    1155px 1338px #c9585c, 1147px 1008px #c9585c, 1226px 889px #c9585c,
    1667px 1577px #c9585c, 1870px 317px #c9585c, 1658px 537px #c9585c,
    795px 105px #c9585c, 1556px 1281px #c9585c, 1822px 902px #c9585c,
    421px 86px #c9585c, 1071px 304px #c9585c, 830px 366px #c9585c,
    1594px 1130px #c9585c, 807px 1181px #c9585c, 1857px 1823px #c9585c,
    1530px 1796px #c9585c, 1851px 1850px #c9585c, 1374px 1054px #c9585c,
    733px 745px #c9585c, 1050px 591px #c9585c, 1812px 152px #c9585c,
    1179px 650px #c9585c, 1455px 1125px #c9585c, 1980px 293px #c9585c,
    784px 805px #c9585c, 1653px 1104px #c9585c, 1745px 863px #c9585c,
    235px 592px #c9585c, 215px 1823px #c9585c, 896px 1167px #c9585c,
    28px 1819px #c9585c, 1466px 1807px #c9585c, 257px 754px #c9585c,
    1793px 1037px #c9585c, 254px 826px #c9585c, 1823px 383px #c9585c,
    1940px 549px #c9585c, 985px 175px #c9585c, 1011px 677px #c9585c,
    881px 1399px #c9585c, 297px 1360px #c9585c, 1231px 171px #c9585c,
    1619px 165px #c9585c, 36px 1522px #c9585c, 1428px 804px #c9585c,
    458px 1052px #c9585c, 103px 303px #c9585c, 22px 1198px #c9585c,
    1761px 645px #c9585c, 1534px 1891px #c9585c, 950px 286px #c9585c,
    1777px 40px #c9585c, 185px 1015px #c9585c, 479px 724px #c9585c,
    1427px 257px #c9585c, 1596px 1148px #c9585c, 1610px 1832px #c9585c,
    1859px 651px #c9585c, 1322px 691px #c9585c, 798px 149px #c9585c,
    887px 1958px #c9585c, 679px 1470px #c9585c, 1821px 620px #c9585c,
    154px 843px #c9585c, 1283px 242px #c9585c, 1868px 934px #c9585c,
    1145px 255px #c9585c, 1924px 485px #c9585c, 1432px 1437px #c9585c,
    1984px 1692px #c9585c, 500px 1100px #c9585c, 733px 1552px #c9585c,
    1025px 1662px #c9585c, 1605px 893px #c9585c, 689px 1709px #c9585c,
    1709px 1635px #c9585c, 1203px 87px #c9585c, 554px 1030px #c9585c,
    1603px 988px #c9585c, 1293px 71px #c9585c, 1442px 1103px #c9585c,
    1272px 23px #c9585c, 1313px 224px #c9585c, 1422px 101px #c9585c,
    920px 1456px #c9585c, 1391px 972px #c9585c, 1346px 468px #c9585c,
    398px 1360px #c9585c, 149px 136px #c9585c, 359px 421px #c9585c,
    796px 24px #c9585c, 764px 818px #c9585c, 252px 1743px #c9585c,
    891px 1497px #c9585c, 1160px 505px #c9585c, 1287px 857px #c9585c,
    1913px 679px #c9585c, 1662px 1239px #c9585c, 1567px 652px #c9585c,
    1320px 1700px #c9585c, 697px 1118px #c9585c, 1449px 403px #c9585c,
    1978px 389px #c9585c, 1px 1769px #c9585c, 1757px 295px #c9585c,
    1568px 1112px #c9585c, 303px 1971px #c9585c, 1975px 1069px #c9585c,
    14px 1205px #c9585c, 1476px 1891px #c9585c, 1371px 677px #c9585c,
    1090px 884px #c9585c, 1892px 127px #c9585c, 1173px 411px #c9585c,
    608px 810px #c9585c, 657px 1477px #c9585c, 29px 119px #c9585c,
    233px 497px #c9585c, 958px 391px #c9585c, 719px 442px #c9585c,
    187px 307px #c9585c, 778px 519px #c9585c, 863px 522px #c9585c,
    1200px 531px #c9585c, 993px 1071px #c9585c, 717px 286px #c9585c,
    1443px 535px #c9585c, 747px 1625px #c9585c, 302px 216px #c9585c,
    351px 343px #c9585c, 511px 536px #c9585c, 1534px 1889px #c9585c,
    1400px 1525px #c9585c, 463px 1158px #c9585c, 141px 258px #c9585c,
    1904px 624px #c9585c, 1131px 155px #c9585c, 1237px 720px #c9585c,
    1516px 320px #c9585c, 1057px 364px #c9585c, 617px 1883px #c9585c,
    103px 1070px #c9585c, 1312px 389px #c9585c, 632px 534px #c9585c,
    687px 988px #c9585c, 458px 660px #c9585c, 225px 1960px #c9585c,
    1168px 766px #c9585c, 674px 1385px #c9585c, 176px 12px #c9585c,
    214px 569px #c9585c, 1815px 1521px #c9585c, 935px 36px #c9585c,
    1677px 1911px #c9585c, 1016px 537px #c9585c, 1086px 1277px #c9585c,
    1279px 59px #c9585c, 1901px 817px #c9585c, 1149px 839px #c9585c,
    1119px 253px #c9585c, 1147px 622px #c9585c, 1930px 95px #c9585c,
    1202px 122px #c9585c, 510px 1225px #c9585c, 619px 747px #c9585c,
    719px 432px #c9585c, 1461px 46px #c9585c, 1422px 876px #c9585c,
    1121px 1703px #c9585c, 120px 1343px #c9585c, 352px 715px #c9585c,
    1554px 1779px #c9585c, 933px 1032px #c9585c, 1623px 1544px #c9585c,
    261px 1830px #c9585c, 1170px 229px #c9585c, 1358px 1266px #c9585c,
    1995px 362px #c9585c, 1414px 1420px #c9585c, 1867px 1987px #c9585c,
    1942px 1838px #c9585c, 1978px 659px #c9585c, 1449px 1519px #c9585c,
    1428px 735px #c9585c, 278px 545px #c9585c, 1511px 89px #c9585c,
    581px 194px #c9585c, 1105px 263px #c9585c, 958px 170px #c9585c,
    323px 1329px #c9585c, 200px 795px #c9585c, 1070px 241px #c9585c,
    1727px 1508px #c9585c, 980px 1709px #c9585c, 1590px 976px #c9585c,
    1186px 430px #c9585c, 913px 826px #c9585c, 1123px 796px #c9585c,
    484px 41px #c9585c, 312px 579px #c9585c, 350px 753px #c9585c,
    37px 769px #c9585c, 84px 518px #c9585c, 743px 1211px #c9585c,
    1984px 1186px #c9585c, 106px 783px #c9585c, 699px 1886px #c9585c,
    1030px 723px #c9585c, 457px 1676px #c9585c, 1309px 324px #c9585c,
    1646px 1713px #c9585c, 1303px 1055px #c9585c, 1288px 1219px #c9585c,
    1642px 190px #c9585c, 136px 1097px #c9585c, 886px 386px #c9585c,
    1573px 37px #c9585c, 1322px 1302px #c9585c, 780px 522px #c9585c,
    1536px 1850px #c9585c, 817px 797px #c9585c, 1448px 785px #c9585c,
    466px 1216px #c9585c, 1696px 1252px #c9585c, 1901px 292px #c9585c,
    1421px 1247px #c9585c, 1643px 299px #c9585c, 313px 1953px #c9585c,
    744px 1962px #c9585c, 338px 1961px #c9585c, 1948px 1451px #c9585c,
    734px 1145px #c9585c, 1364px 1016px #c9585c, 970px 1063px #c9585c,
    1407px 1939px #c9585c, 340px 1002px #c9585c, 1629px 1629px #c9585c,
    808px 989px #c9585c, 48px 417px #c9585c, 267px 1664px #c9585c,
    134px 1390px #c9585c, 467px 593px #c9585c, 1238px 137px #c9585c,
    1264px 1450px #c9585c, 207px 1217px #c9585c, 1666px 464px #c9585c,
    809px 1188px #c9585c, 587px 1315px #c9585c, 1891px 1625px #c9585c,
    1914px 1493px #c9585c, 1399px 98px #c9585c, 543px 1568px #c9585c,
    848px 814px #c9585c, 482px 178px #c9585c, 1013px 1776px #c9585c,
    495px 1341px #c9585c, 744px 1814px #c9585c, 1763px 1973px #c9585c,
    1568px 912px #c9585c, 997px 1808px #c9585c, 861px 1000px #c9585c,
    1109px 1122px #c9585c, 1059px 961px #c9585c, 13px 562px #c9585c,
    1306px 653px #c9585c, 1279px 1489px #c9585c, 1051px 1433px #c9585c,
    1897px 1598px #c9585c, 1253px 1563px #c9585c, 144px 1816px #c9585c,
    1075px 1150px #c9585c, 1167px 1528px #c9585c, 598px 426px #c9585c,
    1566px 1391px #c9585c, 920px 527px #c9585c, 1671px 658px #c9585c,
    443px 1107px #c9585c, 134px 949px #c9585c, 18px 693px #c9585c,
    1547px 1247px #c9585c, 357px 115px #c9585c, 1928px 806px #c9585c,
    1904px 1229px #c9585c, 1264px 626px #c9585c, 951px 1978px #c9585c,
    1888px 1220px #c9585c, 951px 1836px #c9585c, 738px 279px #c9585c,
    885px 630px #c9585c;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 726px 693px #c9585c, 1729px 1101px #c9585c, 676px 1866px #c9585c,
    1319px 757px #c9585c, 724px 1421px #c9585c, 233px 1654px #c9585c,
    1316px 1366px #c9585c, 1625px 1246px #c9585c, 574px 1787px #c9585c,
    1168px 309px #c9585c, 908px 1247px #c9585c, 690px 509px #c9585c,
    834px 1224px #c9585c, 1496px 460px #c9585c, 1887px 1881px #c9585c,
    1089px 1508px #c9585c, 1763px 673px #c9585c, 1222px 1399px #c9585c,
    164px 97px #c9585c, 1010px 1548px #c9585c, 976px 1165px #c9585c,
    1322px 1325px #c9585c, 258px 1663px #c9585c, 1963px 1126px #c9585c,
    700px 1516px #c9585c, 1430px 1071px #c9585c, 848px 495px #c9585c,
    690px 883px #c9585c, 1164px 841px #c9585c, 1934px 701px #c9585c,
    783px 196px #c9585c, 38px 498px #c9585c, 418px 1402px #c9585c,
    1760px 741px #c9585c, 1602px 473px #c9585c, 378px 634px #c9585c,
    152px 684px #c9585c, 1780px 185px #c9585c, 1122px 1815px #c9585c,
    754px 47px #c9585c, 208px 397px #c9585c, 1954px 570px #c9585c,
    183px 214px #c9585c, 1001px 523px #c9585c, 2000px 654px #c9585c,
    364px 745px #c9585c, 849px 1422px #c9585c, 768px 238px #c9585c,
    1254px 1750px #c9585c, 1337px 1365px #c9585c, 1084px 758px #c9585c,
    702px 1795px #c9585c, 177px 1767px #c9585c, 381px 39px #c9585c,
    1253px 1774px #c9585c, 1110px 870px #c9585c, 497px 1761px #c9585c,
    216px 929px #c9585c, 1354px 1786px #c9585c, 961px 1033px #c9585c,
    1315px 72px #c9585c, 991px 1734px #c9585c, 1150px 225px #c9585c,
    238px 1364px #c9585c, 1507px 836px #c9585c, 88px 144px #c9585c,
    732px 1397px #c9585c, 1125px 1810px #c9585c, 512px 1156px #c9585c,
    490px 1014px #c9585c, 847px 68px #c9585c, 333px 523px #c9585c,
    144px 1360px #c9585c, 1256px 808px #c9585c, 1926px 575px #c9585c,
    778px 1105px #c9585c, 640px 1025px #c9585c, 1460px 1753px #c9585c,
    1845px 1843px #c9585c, 109px 223px #c9585c, 1532px 1059px #c9585c,
    1378px 1578px #c9585c, 1191px 203px #c9585c, 310px 1520px #c9585c,
    1657px 577px #c9585c, 244px 37px #c9585c, 862px 1395px #c9585c,
    780px 472px #c9585c, 299px 1671px #c9585c, 1455px 1473px #c9585c,
    144px 1085px #c9585c, 732px 1091px #c9585c, 787px 1289px #c9585c,
    451px 1516px #c9585c, 1490px 711px #c9585c, 1219px 49px #c9585c,
    1612px 957px #c9585c, 724px 1005px #c9585c, 1626px 193px #c9585c,
    17px 1026px #c9585c, 229px 1480px #c9585c, 868px 1675px #c9585c,
    1179px 1006px #c9585c, 580px 674px #c9585c, 925px 1720px #c9585c,
    1088px 1693px #c9585c, 1793px 58px #c9585c, 810px 133px #c9585c,
    789px 745px #c9585c, 654px 1337px #c9585c, 284px 677px #c9585c,
    24px 1234px #c9585c, 393px 833px #c9585c, 639px 435px #c9585c,
    1144px 714px #c9585c, 818px 156px #c9585c, 1443px 1495px #c9585c,
    1280px 1079px #c9585c, 475px 1455px #c9585c, 1584px 1248px #c9585c,
    775px 715px #c9585c, 1506px 333px #c9585c, 607px 1621px #c9585c,
    1894px 1799px #c9585c, 1099px 1434px #c9585c, 1586px 1219px #c9585c,
    872px 1239px #c9585c, 1072px 1305px #c9585c, 132px 907px #c9585c,
    675px 1925px #c9585c, 1065px 204px #c9585c, 1202px 1496px #c9585c,
    6px 124px #c9585c, 285px 1766px #c9585c, 1251px 395px #c9585c,
    652px 95px #c9585c, 408px 456px #c9585c, 85px 180px #c9585c,
    709px 67px #c9585c, 1360px 1687px #c9585c, 1389px 1097px #c9585c,
    12px 1438px #c9585c, 1957px 387px #c9585c, 338px 1762px #c9585c,
    1802px 1609px #c9585c, 1542px 1341px #c9585c, 842px 276px #c9585c,
    348px 439px #c9585c, 944px 914px #c9585c, 1423px 1229px #c9585c,
    1559px 855px #c9585c, 1166px 1097px #c9585c, 338px 30px #c9585c,
    1035px 1520px #c9585c, 633px 1351px #c9585c, 221px 786px #c9585c,
    1673px 684px #c9585c, 1837px 1965px #c9585c, 1458px 1851px #c9585c,
    1063px 1292px #c9585c, 802px 1848px #c9585c, 452px 1762px #c9585c,
    1759px 1474px #c9585c, 584px 1023px #c9585c, 570px 1908px #c9585c,
    1132px 1348px #c9585c, 181px 428px #c9585c, 1239px 1359px #c9585c,
    298px 332px #c9585c, 300px 1640px #c9585c, 866px 270px #c9585c,
    1954px 1072px #c9585c, 534px 1730px #c9585c, 804px 1604px #c9585c,
    579px 1139px #c9585c, 1497px 565px #c9585c, 405px 207px #c9585c,
    817px 1555px #c9585c, 134px 1933px #c9585c, 104px 1785px #c9585c,
    1248px 1322px #c9585c, 1166px 1036px #c9585c, 209px 596px #c9585c,
    184px 858px #c9585c, 300px 328px #c9585c, 1435px 1842px #c9585c,
    1508px 629px #c9585c, 1900px 1514px #c9585c, 216px 472px #c9585c,
    1976px 234px #c9585c, 1320px 242px #c9585c, 1961px 1672px #c9585c,
    1715px 1872px #c9585c, 282px 143px #c9585c, 1905px 1337px #c9585c,
    1397px 603px #c9585c, 1038px 284px #c9585c, 1237px 1253px #c9585c,
    1122px 12px #c9585c, 898px 1542px #c9585c, 538px 1857px #c9585c,
    249px 517px #c9585c, 1122px 1897px #c9585c, 464px 1250px #c9585c,
    337px 1040px #c9585c, 995px 221px #c9585c, 497px 1565px #c9585c,
    929px 414px #c9585c, 886px 1554px #c9585c, 70px 1530px #c9585c,
    20px 989px #c9585c, 1842px 335px #c9585c, 3px 1554px #c9585c,
    1607px 1737px #c9585c, 729px 1985px #c9585c, 976px 117px #c9585c,
    1865px 544px #c9585c, 1414px 1927px #c9585c, 1715px 1790px #c9585c,
    789px 1153px #c9585c, 174px 334px #c9585c, 210px 1969px #c9585c,
    1333px 114px #c9585c, 977px 739px #c9585c, 334px 558px #c9585c,
    77px 892px #c9585c, 511px 1706px #c9585c, 1261px 1382px #c9585c,
    1752px 465px #c9585c, 733px 1097px #c9585c, 1146px 794px #c9585c,
    1180px 1574px #c9585c, 444px 1421px #c9585c, 1362px 711px #c9585c,
    1515px 968px #c9585c, 1242px 1802px #c9585c, 240px 1266px #c9585c,
    1888px 938px #c9585c, 1749px 1578px #c9585c, 286px 1107px #c9585c,
    1974px 92px #c9585c, 1546px 1522px #c9585c, 673px 145px #c9585c,
    1922px 1803px #c9585c, 1911px 1145px #c9585c, 342px 570px #c9585c,
    309px 1894px #c9585c, 1283px 756px #c9585c, 1296px 909px #c9585c,
    271px 1689px #c9585c, 592px 1461px #c9585c, 1541px 590px #c9585c,
    391px 276px #c9585c, 1943px 1123px #c9585c, 1582px 1813px #c9585c,
    235px 1081px #c9585c, 1530px 1079px #c9585c, 612px 1310px #c9585c,
    18px 1234px #c9585c, 1344px 1142px #c9585c, 1571px 643px #c9585c,
    54px 1615px #c9585c, 1315px 837px #c9585c, 298px 464px #c9585c,
    971px 1717px #c9585c, 318px 565px #c9585c, 420px 84px #c9585c,
    1993px 1725px #c9585c, 1515px 1976px #c9585c, 445px 1628px #c9585c,
    30px 237px #c9585c, 1669px 1305px #c9585c, 1408px 361px #c9585c,
    513px 1144px #c9585c, 334px 1663px #c9585c, 944px 807px #c9585c,
    1563px 38px #c9585c, 1938px 1908px #c9585c, 104px 427px #c9585c,
    907px 1074px #c9585c, 42px 335px #c9585c, 1879px 1364px #c9585c,
    1476px 888px #c9585c, 1823px 1549px #c9585c, 1635px 338px #c9585c,
    1492px 1348px #c9585c, 1420px 1050px #c9585c, 398px 653px #c9585c,
    119px 1070px #c9585c, 135px 120px #c9585c, 787px 1608px #c9585c,
    591px 1270px #c9585c, 1035px 906px #c9585c, 1933px 1919px #c9585c,
    535px 747px #c9585c, 95px 725px #c9585c, 1495px 80px #c9585c,
    279px 1894px #c9585c, 1652px 256px #c9585c, 175px 765px #c9585c,
    183px 1637px #c9585c, 473px 828px #c9585c, 303px 1144px #c9585c,
    1845px 1449px #c9585c, 668px 1203px #c9585c, 1350px 682px #c9585c,
    1263px 1827px #c9585c, 1874px 1725px #c9585c, 1487px 1126px #c9585c,
    710px 1148px #c9585c, 539px 718px #c9585c, 1875px 483px #c9585c,
    412px 503px #c9585c, 356px 638px #c9585c, 1101px 862px #c9585c,
    1308px 1215px #c9585c, 63px 252px #c9585c, 170px 15px #c9585c,
    1355px 238px #c9585c, 899px 1323px #c9585c, 1735px 1805px #c9585c,
    1268px 1294px #c9585c, 1630px 1257px #c9585c, 1020px 907px #c9585c,
    665px 1991px #c9585c, 809px 387px #c9585c, 1875px 796px #c9585c,
    1369px 1390px #c9585c, 1208px 1245px #c9585c, 1723px 377px #c9585c,
    1187px 729px #c9585c, 1407px 180px #c9585c, 1155px 1681px #c9585c,
    958px 1223px #c9585c, 892px 1308px #c9585c, 780px 1843px #c9585c,
    1768px 628px #c9585c, 1723px 343px #c9585c, 200px 519px #c9585c,
    1424px 1469px #c9585c, 780px 1196px #c9585c, 405px 87px #c9585c,
    1248px 748px #c9585c, 1514px 1799px #c9585c, 1165px 1213px #c9585c,
    1242px 1742px #c9585c, 1552px 552px #c9585c, 491px 873px #c9585c,
    1795px 1959px #c9585c, 601px 578px #c9585c, 850px 762px #c9585c,
    1649px 1292px #c9585c, 238px 1613px #c9585c, 602px 1331px #c9585c,
    1790px 476px #c9585c, 1714px 897px #c9585c, 571px 1011px #c9585c,
    824px 1893px #c9585c, 1057px 1289px #c9585c, 1708px 631px #c9585c,
    83px 588px #c9585c, 657px 1280px #c9585c, 300px 905px #c9585c,
    279px 1597px #c9585c, 454px 895px #c9585c, 1444px 1869px #c9585c,
    445px 987px #c9585c, 1204px 1763px #c9585c, 197px 39px #c9585c,
    1180px 1176px #c9585c, 1244px 910px #c9585c, 1275px 934px #c9585c,
    1763px 752px #c9585c, 1979px 1328px #c9585c, 1050px 461px #c9585c,
    1387px 1723px #c9585c, 563px 626px #c9585c, 730px 928px #c9585c,
    1393px 1060px #c9585c, 513px 1440px #c9585c, 179px 837px #c9585c,
    319px 681px #c9585c, 413px 1560px #c9585c, 1060px 1608px #c9585c,
    1537px 75px #c9585c, 1054px 450px #c9585c, 538px 1896px #c9585c,
    1420px 21px #c9585c, 1548px 1902px #c9585c, 922px 401px #c9585c,
    215px 1334px #c9585c, 961px 1828px #c9585c, 1847px 1787px #c9585c,
    553px 1818px #c9585c, 664px 1096px #c9585c, 1624px 1193px #c9585c,
    1551px 1098px #c9585c, 1449px 1592px #c9585c, 1860px 1620px #c9585c,
    176px 636px #c9585c, 1734px 1704px #c9585c, 1911px 1614px #c9585c,
    1886px 1744px #c9585c, 982px 280px #c9585c, 384px 1721px #c9585c,
    1683px 596px #c9585c, 336px 459px #c9585c, 1025px 707px #c9585c,
    884px 1081px #c9585c, 1460px 1741px #c9585c, 746px 398px #c9585c,
    1155px 1338px #c9585c, 1147px 1008px #c9585c, 1226px 889px #c9585c,
    1667px 1577px #c9585c, 1870px 317px #c9585c, 1658px 537px #c9585c,
    795px 105px #c9585c, 1556px 1281px #c9585c, 1822px 902px #c9585c,
    421px 86px #c9585c, 1071px 304px #c9585c, 830px 366px #c9585c,
    1594px 1130px #c9585c, 807px 1181px #c9585c, 1857px 1823px #c9585c,
    1530px 1796px #c9585c, 1851px 1850px #c9585c, 1374px 1054px #c9585c,
    733px 745px #c9585c, 1050px 591px #c9585c, 1812px 152px #c9585c,
    1179px 650px #c9585c, 1455px 1125px #c9585c, 1980px 293px #c9585c,
    784px 805px #c9585c, 1653px 1104px #c9585c, 1745px 863px #c9585c,
    235px 592px #c9585c, 215px 1823px #c9585c, 896px 1167px #c9585c,
    28px 1819px #c9585c, 1466px 1807px #c9585c, 257px 754px #c9585c,
    1793px 1037px #c9585c, 254px 826px #c9585c, 1823px 383px #c9585c,
    1940px 549px #c9585c, 985px 175px #c9585c, 1011px 677px #c9585c,
    881px 1399px #c9585c, 297px 1360px #c9585c, 1231px 171px #c9585c,
    1619px 165px #c9585c, 36px 1522px #c9585c, 1428px 804px #c9585c,
    458px 1052px #c9585c, 103px 303px #c9585c, 22px 1198px #c9585c,
    1761px 645px #c9585c, 1534px 1891px #c9585c, 950px 286px #c9585c,
    1777px 40px #c9585c, 185px 1015px #c9585c, 479px 724px #c9585c,
    1427px 257px #c9585c, 1596px 1148px #c9585c, 1610px 1832px #c9585c,
    1859px 651px #c9585c, 1322px 691px #c9585c, 798px 149px #c9585c,
    887px 1958px #c9585c, 679px 1470px #c9585c, 1821px 620px #c9585c,
    154px 843px #c9585c, 1283px 242px #c9585c, 1868px 934px #c9585c,
    1145px 255px #c9585c, 1924px 485px #c9585c, 1432px 1437px #c9585c,
    1984px 1692px #c9585c, 500px 1100px #c9585c, 733px 1552px #c9585c,
    1025px 1662px #c9585c, 1605px 893px #c9585c, 689px 1709px #c9585c,
    1709px 1635px #c9585c, 1203px 87px #c9585c, 554px 1030px #c9585c,
    1603px 988px #c9585c, 1293px 71px #c9585c, 1442px 1103px #c9585c,
    1272px 23px #c9585c, 1313px 224px #c9585c, 1422px 101px #c9585c,
    920px 1456px #c9585c, 1391px 972px #c9585c, 1346px 468px #c9585c,
    398px 1360px #c9585c, 149px 136px #c9585c, 359px 421px #c9585c,
    796px 24px #c9585c, 764px 818px #c9585c, 252px 1743px #c9585c,
    891px 1497px #c9585c, 1160px 505px #c9585c, 1287px 857px #c9585c,
    1913px 679px #c9585c, 1662px 1239px #c9585c, 1567px 652px #c9585c,
    1320px 1700px #c9585c, 697px 1118px #c9585c, 1449px 403px #c9585c,
    1978px 389px #c9585c, 1px 1769px #c9585c, 1757px 295px #c9585c,
    1568px 1112px #c9585c, 303px 1971px #c9585c, 1975px 1069px #c9585c,
    14px 1205px #c9585c, 1476px 1891px #c9585c, 1371px 677px #c9585c,
    1090px 884px #c9585c, 1892px 127px #c9585c, 1173px 411px #c9585c,
    608px 810px #c9585c, 657px 1477px #c9585c, 29px 119px #c9585c,
    233px 497px #c9585c, 958px 391px #c9585c, 719px 442px #c9585c,
    187px 307px #c9585c, 778px 519px #c9585c, 863px 522px #c9585c,
    1200px 531px #c9585c, 993px 1071px #c9585c, 717px 286px #c9585c,
    1443px 535px #c9585c, 747px 1625px #c9585c, 302px 216px #c9585c,
    351px 343px #c9585c, 511px 536px #c9585c, 1534px 1889px #c9585c,
    1400px 1525px #c9585c, 463px 1158px #c9585c, 141px 258px #c9585c,
    1904px 624px #c9585c, 1131px 155px #c9585c, 1237px 720px #c9585c,
    1516px 320px #c9585c, 1057px 364px #c9585c, 617px 1883px #c9585c,
    103px 1070px #c9585c, 1312px 389px #c9585c, 632px 534px #c9585c,
    687px 988px #c9585c, 458px 660px #c9585c, 225px 1960px #c9585c,
    1168px 766px #c9585c, 674px 1385px #c9585c, 176px 12px #c9585c,
    214px 569px #c9585c, 1815px 1521px #c9585c, 935px 36px #c9585c,
    1677px 1911px #c9585c, 1016px 537px #c9585c, 1086px 1277px #c9585c,
    1279px 59px #c9585c, 1901px 817px #c9585c, 1149px 839px #c9585c,
    1119px 253px #c9585c, 1147px 622px #c9585c, 1930px 95px #c9585c,
    1202px 122px #c9585c, 510px 1225px #c9585c, 619px 747px #c9585c,
    719px 432px #c9585c, 1461px 46px #c9585c, 1422px 876px #c9585c,
    1121px 1703px #c9585c, 120px 1343px #c9585c, 352px 715px #c9585c,
    1554px 1779px #c9585c, 933px 1032px #c9585c, 1623px 1544px #c9585c,
    261px 1830px #c9585c, 1170px 229px #c9585c, 1358px 1266px #c9585c,
    1995px 362px #c9585c, 1414px 1420px #c9585c, 1867px 1987px #c9585c,
    1942px 1838px #c9585c, 1978px 659px #c9585c, 1449px 1519px #c9585c,
    1428px 735px #c9585c, 278px 545px #c9585c, 1511px 89px #c9585c,
    581px 194px #c9585c, 1105px 263px #c9585c, 958px 170px #c9585c,
    323px 1329px #c9585c, 200px 795px #c9585c, 1070px 241px #c9585c,
    1727px 1508px #c9585c, 980px 1709px #c9585c, 1590px 976px #c9585c,
    1186px 430px #c9585c, 913px 826px #c9585c, 1123px 796px #c9585c,
    484px 41px #c9585c, 312px 579px #c9585c, 350px 753px #c9585c,
    37px 769px #c9585c, 84px 518px #c9585c, 743px 1211px #c9585c,
    1984px 1186px #c9585c, 106px 783px #c9585c, 699px 1886px #c9585c,
    1030px 723px #c9585c, 457px 1676px #c9585c, 1309px 324px #c9585c,
    1646px 1713px #c9585c, 1303px 1055px #c9585c, 1288px 1219px #c9585c,
    1642px 190px #c9585c, 136px 1097px #c9585c, 886px 386px #c9585c,
    1573px 37px #c9585c, 1322px 1302px #c9585c, 780px 522px #c9585c,
    1536px 1850px #c9585c, 817px 797px #c9585c, 1448px 785px #c9585c,
    466px 1216px #c9585c, 1696px 1252px #c9585c, 1901px 292px #c9585c,
    1421px 1247px #c9585c, 1643px 299px #c9585c, 313px 1953px #c9585c,
    744px 1962px #c9585c, 338px 1961px #c9585c, 1948px 1451px #c9585c,
    734px 1145px #c9585c, 1364px 1016px #c9585c, 970px 1063px #c9585c,
    1407px 1939px #c9585c, 340px 1002px #c9585c, 1629px 1629px #c9585c,
    808px 989px #c9585c, 48px 417px #c9585c, 267px 1664px #c9585c,
    134px 1390px #c9585c, 467px 593px #c9585c, 1238px 137px #c9585c,
    1264px 1450px #c9585c, 207px 1217px #c9585c, 1666px 464px #c9585c,
    809px 1188px #c9585c, 587px 1315px #c9585c, 1891px 1625px #c9585c,
    1914px 1493px #c9585c, 1399px 98px #c9585c, 543px 1568px #c9585c,
    848px 814px #c9585c, 482px 178px #c9585c, 1013px 1776px #c9585c,
    495px 1341px #c9585c, 744px 1814px #c9585c, 1763px 1973px #c9585c,
    1568px 912px #c9585c, 997px 1808px #c9585c, 861px 1000px #c9585c,
    1109px 1122px #c9585c, 1059px 961px #c9585c, 13px 562px #c9585c,
    1306px 653px #c9585c, 1279px 1489px #c9585c, 1051px 1433px #c9585c,
    1897px 1598px #c9585c, 1253px 1563px #c9585c, 144px 1816px #c9585c,
    1075px 1150px #c9585c, 1167px 1528px #c9585c, 598px 426px #c9585c,
    1566px 1391px #c9585c, 920px 527px #c9585c, 1671px 658px #c9585c,
    443px 1107px #c9585c, 134px 949px #c9585c, 18px 693px #c9585c,
    1547px 1247px #c9585c, 357px 115px #c9585c, 1928px 806px #c9585c,
    1904px 1229px #c9585c, 1264px 626px #c9585c, 951px 1978px #c9585c,
    1888px 1220px #c9585c, 951px 1836px #c9585c, 738px 279px #c9585c,
    885px 630px #c9585c;
}

#stars2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 1984px 710px #c9585c, 951px 99px #c9585c, 25px 149px #c9585c,
    1583px 1536px #c9585c, 1903px 150px #c9585c, 1120px 988px #c9585c,
    1941px 118px #c9585c, 720px 374px #c9585c, 1759px 1296px #c9585c,
    733px 1439px #c9585c, 699px 31px #c9585c, 1912px 1272px #c9585c,
    1795px 1095px #c9585c, 1671px 450px #c9585c, 960px 401px #c9585c,
    1226px 213px #c9585c, 914px 935px #c9585c, 1755px 1658px #c9585c,
    1214px 1464px #c9585c, 1636px 1538px #c9585c, 1135px 1575px #c9585c,
    60px 54px #c9585c, 1405px 1659px #c9585c, 1788px 229px #c9585c,
    1613px 1887px #c9585c, 1294px 686px #c9585c, 1462px 818px #c9585c,
    242px 1579px #c9585c, 10px 990px #c9585c, 912px 713px #c9585c,
    1602px 942px #c9585c, 42px 1205px #c9585c, 858px 1993px #c9585c,
    589px 1768px #c9585c, 1967px 731px #c9585c, 1308px 1720px #c9585c,
    1579px 1124px #c9585c, 1516px 759px #c9585c, 1033px 1146px #c9585c,
    1244px 885px #c9585c, 1234px 948px #c9585c, 57px 277px #c9585c,
    676px 1081px #c9585c, 238px 1646px #c9585c, 1531px 1653px #c9585c,
    1546px 1762px #c9585c, 869px 841px #c9585c, 1925px 467px #c9585c,
    133px 899px #c9585c, 692px 1531px #c9585c, 1938px 118px #c9585c,
    1765px 305px #c9585c, 506px 1747px #c9585c, 115px 33px #c9585c,
    99px 466px #c9585c, 1065px 1446px #c9585c, 1170px 1296px #c9585c,
    1800px 1823px #c9585c, 146px 1431px #c9585c, 919px 464px #c9585c,
    1474px 824px #c9585c, 1886px 1153px #c9585c, 1003px 558px #c9585c,
    1805px 400px #c9585c, 1850px 1849px #c9585c, 1408px 82px #c9585c,
    1947px 864px #c9585c, 266px 1763px #c9585c, 663px 1240px #c9585c,
    101px 245px #c9585c, 403px 1898px #c9585c, 1468px 381px #c9585c,
    1052px 590px #c9585c, 1779px 950px #c9585c, 1932px 1611px #c9585c,
    1808px 652px #c9585c, 1131px 1452px #c9585c, 1727px 21px #c9585c,
    1338px 1217px #c9585c, 179px 478px #c9585c, 602px 1108px #c9585c,
    1725px 516px #c9585c, 1460px 1215px #c9585c, 930px 1062px #c9585c,
    1750px 939px #c9585c, 515px 1896px #c9585c, 1578px 939px #c9585c,
    794px 1811px #c9585c, 1926px 91px #c9585c, 156px 1322px #c9585c,
    217px 822px #c9585c, 1088px 849px #c9585c, 1030px 1204px #c9585c,
    848px 921px #c9585c, 101px 245px #c9585c, 1572px 1774px #c9585c,
    1816px 95px #c9585c, 1350px 1748px #c9585c, 1023px 1798px #c9585c,
    67px 25px #c9585c, 1464px 1975px #c9585c, 1451px 145px #c9585c,
    1381px 923px #c9585c, 1501px 1079px #c9585c, 859px 212px #c9585c,
    1566px 1001px #c9585c, 1933px 1608px #c9585c, 289px 1988px #c9585c,
    208px 5px #c9585c, 153px 324px #c9585c, 1469px 1279px #c9585c,
    193px 417px #c9585c, 1871px 1510px #c9585c, 1573px 1452px #c9585c,
    577px 681px #c9585c, 1026px 1355px #c9585c, 754px 258px #c9585c,
    1309px 1334px #c9585c, 1649px 985px #c9585c, 130px 85px #c9585c,
    1063px 1606px #c9585c, 1758px 630px #c9585c, 526px 1458px #c9585c,
    1232px 574px #c9585c, 593px 914px #c9585c, 215px 1937px #c9585c,
    683px 709px #c9585c, 902px 779px #c9585c, 104px 1216px #c9585c,
    1314px 1959px #c9585c, 586px 1072px #c9585c, 790px 1418px #c9585c,
    1732px 146px #c9585c, 1692px 728px #c9585c, 246px 45px #c9585c,
    276px 494px #c9585c, 843px 1067px #c9585c, 807px 337px #c9585c,
    1214px 1016px #c9585c, 1527px 769px #c9585c, 432px 1615px #c9585c,
    1077px 1343px #c9585c, 1073px 432px #c9585c, 13px 1482px #c9585c,
    1286px 1432px #c9585c, 1067px 1349px #c9585c, 161px 158px #c9585c,
    1899px 1763px #c9585c, 1440px 1671px #c9585c, 1092px 1331px #c9585c,
    668px 775px #c9585c, 1563px 291px #c9585c, 1466px 1855px #c9585c,
    965px 1418px #c9585c, 589px 1355px #c9585c, 211px 1165px #c9585c,
    1939px 1126px #c9585c, 174px 651px #c9585c, 612px 1842px #c9585c,
    149px 844px #c9585c, 1625px 187px #c9585c, 1478px 1584px #c9585c,
    523px 623px #c9585c, 766px 1212px #c9585c, 734px 976px #c9585c,
    1428px 1655px #c9585c, 405px 1808px #c9585c, 1977px 1559px #c9585c,
    928px 1240px #c9585c, 1797px 763px #c9585c, 418px 219px #c9585c,
    410px 732px #c9585c, 291px 699px #c9585c, 623px 1091px #c9585c,
    677px 1316px #c9585c, 1536px 927px #c9585c, 1840px 1034px #c9585c,
    729px 419px #c9585c, 413px 1076px #c9585c, 858px 1299px #c9585c,
    794px 703px #c9585c, 452px 77px #c9585c, 1340px 270px #c9585c,
    203px 863px #c9585c, 689px 1239px #c9585c, 1187px 562px #c9585c,
    121px 1123px #c9585c, 1844px 1632px #c9585c, 424px 1384px #c9585c,
    525px 1249px #c9585c, 621px 659px #c9585c, 1144px 265px #c9585c,
    276px 87px #c9585c, 1589px 455px #c9585c, 198px 183px #c9585c,
    1051px 547px #c9585c, 331px 13px #c9585c, 5px 1778px #c9585c,
    1193px 1486px #c9585c, 1254px 1867px #c9585c;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1984px 710px #c9585c, 951px 99px #c9585c, 25px 149px #c9585c,
    1583px 1536px #c9585c, 1903px 150px #c9585c, 1120px 988px #c9585c,
    1941px 118px #c9585c, 720px 374px #c9585c, 1759px 1296px #c9585c,
    733px 1439px #c9585c, 699px 31px #c9585c, 1912px 1272px #c9585c,
    1795px 1095px #c9585c, 1671px 450px #c9585c, 960px 401px #c9585c,
    1226px 213px #c9585c, 914px 935px #c9585c, 1755px 1658px #c9585c,
    1214px 1464px #c9585c, 1636px 1538px #c9585c, 1135px 1575px #c9585c,
    60px 54px #c9585c, 1405px 1659px #c9585c, 1788px 229px #c9585c,
    1613px 1887px #c9585c, 1294px 686px #c9585c, 1462px 818px #c9585c,
    242px 1579px #c9585c, 10px 990px #c9585c, 912px 713px #c9585c,
    1602px 942px #c9585c, 42px 1205px #c9585c, 858px 1993px #c9585c,
    589px 1768px #c9585c, 1967px 731px #c9585c, 1308px 1720px #c9585c,
    1579px 1124px #c9585c, 1516px 759px #c9585c, 1033px 1146px #c9585c,
    1244px 885px #c9585c, 1234px 948px #c9585c, 57px 277px #c9585c,
    676px 1081px #c9585c, 238px 1646px #c9585c, 1531px 1653px #c9585c,
    1546px 1762px #c9585c, 869px 841px #c9585c, 1925px 467px #c9585c,
    133px 899px #c9585c, 692px 1531px #c9585c, 1938px 118px #c9585c,
    1765px 305px #c9585c, 506px 1747px #c9585c, 115px 33px #c9585c,
    99px 466px #c9585c, 1065px 1446px #c9585c, 1170px 1296px #c9585c,
    1800px 1823px #c9585c, 146px 1431px #c9585c, 919px 464px #c9585c,
    1474px 824px #c9585c, 1886px 1153px #c9585c, 1003px 558px #c9585c,
    1805px 400px #c9585c, 1850px 1849px #c9585c, 1408px 82px #c9585c,
    1947px 864px #c9585c, 266px 1763px #c9585c, 663px 1240px #c9585c,
    101px 245px #c9585c, 403px 1898px #c9585c, 1468px 381px #c9585c,
    1052px 590px #c9585c, 1779px 950px #c9585c, 1932px 1611px #c9585c,
    1808px 652px #c9585c, 1131px 1452px #c9585c, 1727px 21px #c9585c,
    1338px 1217px #c9585c, 179px 478px #c9585c, 602px 1108px #c9585c,
    1725px 516px #c9585c, 1460px 1215px #c9585c, 930px 1062px #c9585c,
    1750px 939px #c9585c, 515px 1896px #c9585c, 1578px 939px #c9585c,
    794px 1811px #c9585c, 1926px 91px #c9585c, 156px 1322px #c9585c,
    217px 822px #c9585c, 1088px 849px #c9585c, 1030px 1204px #c9585c,
    848px 921px #c9585c, 101px 245px #c9585c, 1572px 1774px #c9585c,
    1816px 95px #c9585c, 1350px 1748px #c9585c, 1023px 1798px #c9585c,
    67px 25px #c9585c, 1464px 1975px #c9585c, 1451px 145px #c9585c,
    1381px 923px #c9585c, 1501px 1079px #c9585c, 859px 212px #c9585c,
    1566px 1001px #c9585c, 1933px 1608px #c9585c, 289px 1988px #c9585c,
    208px 5px #c9585c, 153px 324px #c9585c, 1469px 1279px #c9585c,
    193px 417px #c9585c, 1871px 1510px #c9585c, 1573px 1452px #c9585c,
    577px 681px #c9585c, 1026px 1355px #c9585c, 754px 258px #c9585c,
    1309px 1334px #c9585c, 1649px 985px #c9585c, 130px 85px #c9585c,
    1063px 1606px #c9585c, 1758px 630px #c9585c, 526px 1458px #c9585c,
    1232px 574px #c9585c, 593px 914px #c9585c, 215px 1937px #c9585c,
    683px 709px #c9585c, 902px 779px #c9585c, 104px 1216px #c9585c,
    1314px 1959px #c9585c, 586px 1072px #c9585c, 790px 1418px #c9585c,
    1732px 146px #c9585c, 1692px 728px #c9585c, 246px 45px #c9585c,
    276px 494px #c9585c, 843px 1067px #c9585c, 807px 337px #c9585c,
    1214px 1016px #c9585c, 1527px 769px #c9585c, 432px 1615px #c9585c,
    1077px 1343px #c9585c, 1073px 432px #c9585c, 13px 1482px #c9585c,
    1286px 1432px #c9585c, 1067px 1349px #c9585c, 161px 158px #c9585c,
    1899px 1763px #c9585c, 1440px 1671px #c9585c, 1092px 1331px #c9585c,
    668px 775px #c9585c, 1563px 291px #c9585c, 1466px 1855px #c9585c,
    965px 1418px #c9585c, 589px 1355px #c9585c, 211px 1165px #c9585c,
    1939px 1126px #c9585c, 174px 651px #c9585c, 612px 1842px #c9585c,
    149px 844px #c9585c, 1625px 187px #c9585c, 1478px 1584px #c9585c,
    523px 623px #c9585c, 766px 1212px #c9585c, 734px 976px #c9585c,
    1428px 1655px #c9585c, 405px 1808px #c9585c, 1977px 1559px #c9585c,
    928px 1240px #c9585c, 1797px 763px #c9585c, 418px 219px #c9585c,
    410px 732px #c9585c, 291px 699px #c9585c, 623px 1091px #c9585c,
    677px 1316px #c9585c, 1536px 927px #c9585c, 1840px 1034px #c9585c,
    729px 419px #c9585c, 413px 1076px #c9585c, 858px 1299px #c9585c,
    794px 703px #c9585c, 452px 77px #c9585c, 1340px 270px #c9585c,
    203px 863px #c9585c, 689px 1239px #c9585c, 1187px 562px #c9585c,
    121px 1123px #c9585c, 1844px 1632px #c9585c, 424px 1384px #c9585c,
    525px 1249px #c9585c, 621px 659px #c9585c, 1144px 265px #c9585c,
    276px 87px #c9585c, 1589px 455px #c9585c, 198px 183px #c9585c,
    1051px 547px #c9585c, 331px 13px #c9585c, 5px 1778px #c9585c,
    1193px 1486px #c9585c, 1254px 1867px #c9585c;
}

#stars3 {
  width: 6px;
  height: 6px;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  box-shadow: 537px 505px #c9585c, 441px 1205px #c9585c, 1203px 1750px #c9585c,
    662px 980px #c9585c, 1388px 1280px #c9585c, 292px 1691px #c9585c,
    890px 1404px #c9585c, 354px 20px #c9585c, 1716px 766px #c9585c,
    703px 1343px #c9585c, 1381px 272px #c9585c, 1227px 134px #c9585c,
    696px 982px #c9585c, 1287px 1332px #c9585c, 1980px 1049px #c9585c,
    1010px 136px #c9585c, 1065px 297px #c9585c, 1726px 245px #c9585c,
    553px 921px #c9585c, 2000px 1151px #c9585c, 1208px 383px #c9585c,
    1336px 1490px #c9585c, 1034px 780px #c9585c, 377px 1352px #c9585c,
    221px 1033px #c9585c, 193px 1698px #c9585c, 1154px 1015px #c9585c,
    229px 194px #c9585c, 949px 1675px #c9585c, 15px 735px #c9585c,
    1658px 1191px #c9585c, 1932px 296px #c9585c, 335px 1222px #c9585c,
    1766px 792px #c9585c, 836px 1902px #c9585c, 825px 566px #c9585c,
    1743px 862px #c9585c, 1306px 1920px #c9585c, 1269px 841px #c9585c,
    1014px 213px #c9585c, 693px 710px #c9585c, 1422px 1845px #c9585c,
    1269px 224px #c9585c, 1174px 1188px #c9585c, 260px 1481px #c9585c,
    1491px 1919px #c9585c, 1964px 1031px #c9585c, 106px 1172px #c9585c,
    789px 566px #c9585c, 1164px 1033px #c9585c, 636px 903px #c9585c,
    1992px 981px #c9585c, 1598px 1407px #c9585c, 522px 1772px #c9585c,
    371px 1734px #c9585c, 511px 1057px #c9585c, 326px 1468px #c9585c,
    841px 712px #c9585c, 77px 740px #c9585c, 1450px 677px #c9585c,
    1215px 289px #c9585c, 1994px 480px #c9585c, 1907px 1607px #c9585c,
    35px 1891px #c9585c, 1959px 662px #c9585c, 520px 809px #c9585c,
    1634px 769px #c9585c, 1519px 1092px #c9585c, 571px 1993px #c9585c,
    1141px 681px #c9585c, 50px 806px #c9585c, 1091px 579px #c9585c,
    979px 1675px #c9585c, 964px 1762px #c9585c, 1100px 362px #c9585c,
    1276px 668px #c9585c, 1651px 1023px #c9585c, 201px 1232px #c9585c,
    869px 100px #c9585c, 937px 1911px #c9585c, 174px 302px #c9585c,
    1856px 721px #c9585c, 1298px 1620px #c9585c, 333px 1967px #c9585c,
    105px 230px #c9585c, 39px 75px #c9585c, 13px 1491px #c9585c,
    1593px 1634px #c9585c, 185px 894px #c9585c, 741px 488px #c9585c,
    853px 1407px #c9585c, 1884px 1496px #c9585c, 1755px 1318px #c9585c,
    629px 1642px #c9585c, 549px 1571px #c9585c, 553px 1527px #c9585c,
    992px 550px #c9585c, 1367px 1321px #c9585c, 1434px 734px #c9585c,
    91px 869px #c9585c;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 537px 505px #c9585c, 441px 1205px #c9585c, 1203px 1750px #c9585c,
    662px 980px #c9585c, 1388px 1280px #c9585c, 292px 1691px #c9585c,
    890px 1404px #c9585c, 354px 20px #c9585c, 1716px 766px #c9585c,
    703px 1343px #c9585c, 1381px 272px #c9585c, 1227px 134px #c9585c,
    696px 982px #c9585c, 1287px 1332px #c9585c, 1980px 1049px #c9585c,
    1010px 136px #c9585c, 1065px 297px #c9585c, 1726px 245px #c9585c,
    553px 921px #c9585c, 2000px 1151px #c9585c, 1208px 383px #c9585c,
    1336px 1490px #c9585c, 1034px 780px #c9585c, 377px 1352px #c9585c,
    221px 1033px #c9585c, 193px 1698px #c9585c, 1154px 1015px #c9585c,
    229px 194px #c9585c, 949px 1675px #c9585c, 15px 735px #c9585c,
    1658px 1191px #c9585c, 1932px 296px #c9585c, 335px 1222px #c9585c,
    1766px 792px #c9585c, 836px 1902px #c9585c, 825px 566px #c9585c,
    1743px 862px #c9585c, 1306px 1920px #c9585c, 1269px 841px #c9585c,
    1014px 213px #c9585c, 693px 710px #c9585c, 1422px 1845px #c9585c,
    1269px 224px #c9585c, 1174px 1188px #c9585c, 260px 1481px #c9585c,
    1491px 1919px #c9585c, 1964px 1031px #c9585c, 106px 1172px #c9585c,
    789px 566px #c9585c, 1164px 1033px #c9585c, 636px 903px #c9585c,
    1992px 981px #c9585c, 1598px 1407px #c9585c, 522px 1772px #c9585c,
    371px 1734px #c9585c, 511px 1057px #c9585c, 326px 1468px #c9585c,
    841px 712px #c9585c, 77px 740px #c9585c, 1450px 677px #c9585c,
    1215px 289px #c9585c, 1994px 480px #c9585c, 1907px 1607px #c9585c,
    35px 1891px #c9585c, 1959px 662px #c9585c, 520px 809px #c9585c,
    1634px 769px #c9585c, 1519px 1092px #c9585c, 571px 1993px #c9585c,
    1141px 681px #c9585c, 50px 806px #c9585c, 1091px 579px #c9585c,
    979px 1675px #c9585c, 964px 1762px #c9585c, 1100px 362px #c9585c,
    1276px 668px #c9585c, 1651px 1023px #c9585c, 201px 1232px #c9585c,
    869px 100px #c9585c, 937px 1911px #c9585c, 174px 302px #c9585c,
    1856px 721px #c9585c, 1298px 1620px #c9585c, 333px 1967px #c9585c,
    105px 230px #c9585c, 39px 75px #c9585c, 13px 1491px #c9585c,
    1593px 1634px #c9585c, 185px 894px #c9585c, 741px 488px #c9585c,
    853px 1407px #c9585c, 1884px 1496px #c9585c, 1755px 1318px #c9585c,
    629px 1642px #c9585c, 549px 1571px #c9585c, 553px 1527px #c9585c,
    992px 550px #c9585c, 1367px 1321px #c9585c, 1434px 734px #c9585c,
    91px 869px #c9585c;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #c9585c;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
