.home {
  width: 100%;
  overflow-y: scroll;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--secondary);
}

.home__header {
  margin: 25px;
}

.home__left {
  min-height: 100vh;

  /* DEBUG */
  width: 100%;
  /* width: calc(100% - 450px); */
}
.home__right {
  width: 450px;
  background-color: var(--primary);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* DEBUG */
  visibility: hidden;
}


.home__quote {
  display: block;
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: var(--black);
}

.home__quote--author {
  margin-top: 10px;
  display: block;
  color: var(--accent-dark);
}

.home__start-read {
  background-color: var(--black);
  padding: 0 10px;
  margin-top: 30px;
  font-family: "Montserrat";
  font-size: 0.8rem;
}

.home__start-read--icon {
  height: 50%;
  fill: var(--primary);
  margin-left: 10px;
}

.home__heading {
  margin-top: 40px;
  margin-left: 25px;
}

.books__row {
  display: flex;
  /* width: 100%; */
  padding-top: 25px;
  padding-left: 25px;
  overflow-x: scroll;
  /* display: flex; */
}
.books__row::-webkit-scrollbar {
  display: none;
}
.book {
  display: inline-block;
  flex-direction: column;
  max-width: 100px;
  margin-right: 25px;
  transition: 0.4s all;
  backface-visibility: hidden;
  /* float: left; */
  /* border-radius: 10px; */
  text-decoration: none;
}

.book:hover .book__cover {
  transform: translateY(-10px) scale(1.2);
}

.book__cover {
  width: 100%;
  transition: 0.4s all;
  width: 100px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.book__name {
  margin: 10px 6px;
  font-size: 0.7rem;
  display: block;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: start;
  backface-visibility: hidden;
  color: var(--black);
}
