
  .loading {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

  .loading__heading {
    margin-top: 20px;
  }