@font-face {
  font-family: "AlbraSans";
  src: url("./assets/fonts/AlbraSans/AlbraSansTRIAL-Regular.otf"),
    url("./assets/fonts/AlbraSans/AlbraSansTRIAL-Regular-Italic.otf"),
    url("./assets/fonts/AlbraSans/AlbraSansTRIAL-Black.otf"),
    url("./assets/fonts/AlbraSans/AlbraSansTRIAL-Medium.otf"),
    url("./assets/fonts/AlbraSans/AlbraSansTRIAL-Bold.otf");
}

.link {
  text-decoration: none;
  
}

.logo {
  font-size: 1.5rem;
  color: var(--black);
  transition: 0.3s all;
}

.logo span {
  color: var(--accent-dark);
}

.input {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid var(--tertiary);
  transition: 0.4s all;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.input:hover, .input:focus, input:active, input:focus-visible {
  border: 2px solid var(--accent);  
  outline: none;
}


.button {
  height: 40px;
  border-radius: 6px;
  background-color: var(--accent);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-family: "AlbraSans";
  transition: 0.4s all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.button:active {
  transform: translateY(0);
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  transition: 0.4s all;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

